version: "3.5"

services:
  bridge:
    image: superform-v2-relayer
    build:
      context: .
      dockerfile: Dockerfile
    container_name: bridge
    entrypoint:
      - "/app/relayer"
      - "bridge"
      - "--config"
      - "/app/config.yaml"
    ports:
      - 6060:6060
    environment:
      LOG_LEVEL: debug
      ENVIRONMENT: dev
      HEALTHCHECK_SERVER_PORT: 6060
      PRIVATE_KEY: ${PRIVATE_KEY}
      KMS_PRIVATE_KEY_ID: ${KMS_PRIVATE_KEY_ID}
      SENTRY_DSN: ${SENTRY_DSN}
      # AWS creds
      AWS_REGION: "eu-central-1"
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
    volumes:
      - ./config.yaml:/app/config.yaml
    healthcheck:
      test: curl --fail http://localhost:6060/health || exit 1
      interval: 60s
      retries: 5
      start_period: 20s
      timeout: 10s
    networks:
      - superform-v2-core-docker
    restart: unless-stopped

networks:
  superform-v2-core-docker:
    driver: bridge