# Full reference https://github.com/foundry-rs/foundry/tree/master/crates/config

[profile.default]
auto_detect_solc = false
bytecode_hash = "none"
evm_version = "Cancun"
fuzz = { runs = 1_000 }
gas_reports = ["*"]
optimizer = true
optimizer_runs = 10_000
out = "out"
script = "script"
solc = "0.8.28"
src = "src"
test = "test"
cbor_metadata = true

# remappings
remappings = [
  "@openzeppelin/contracts/=lib/openzeppelin-contracts/contracts/",
  "excessivelySafeCall/=lib/ExcessivelySafeCall/src/",
  "modulekit/=lib/modulekit/src/",
  "@prb/math/=lib/modulekit/node_modules/@prb/math/src/",
  "@solady/=lib/solady/",
]

[profile.ci]
fuzz = { runs = 10_000 }
verbosity = 4


[etherscan]
arbitrum = { key = "${API_KEY_ARBISCAN}" }
avalanche = { key = "${API_KEY_SNOWTRACE}" }
base = { key = "${API_KEY_BASESCAN}" }
bnb_smart_chain = { key = "${API_KEY_BSCSCAN}" }
gnosis_chain = { key = "${API_KEY_GNOSISSCAN}" }
goerli = { key = "${API_KEY_ETHERSCAN}" }
mainnet = { key = "${API_KEY_ETHERSCAN}" }
optimism = { key = "${API_KEY_OPTIMISTIC_ETHERSCAN}" }
polygon = { key = "${API_KEY_POLYGONSCAN}" }
sepolia = { key = "${API_KEY_ETHERSCAN}" }
unknown_chain = { key = "${TENDERLY_SUPER_THAI_PROJ_API_KEY}", chain = 98, url = "${SUPER_CHAIN_RPC_URL}/verify/etherscan" }

[fmt]
bracket_spacing = true
int_types = "long"
line_length = 120
multiline_func_header = "all"
number_underscore = "thousands"
quote_style = "double"
tab_width = 4
wrap_comments = true
